<!DOCTYPE html>
<html>
<head>
  <title>Le's Sign Chicago</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <!-- <script src="../assets/sweetalert.min.js"></script> 
  <link rel="stylesheet" type="text/css" href="../assets/sweetalert.css"> -->
</head>
<body>
<%= render partial: "/pages/navigation" %>
<%= yield %>
<%= render partial: "/pages/footer" %>
</body>
</html>
